
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: white;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Graphik';
  src: url('./fonts/Graphik-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('./fonts/Graphik-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Graphik', sans-serif;
  font-weight: 400;
  color: #384050;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

:root {
  --primary-blue: #0074c7;  
  --dark-blue: #00497c;       
  --light-blue: #f1f8fc;      
  --text-dark: #384050;       
  --red-accent: #cd2c2e;      
}